@page "/EditarPostagem/{id}"
@using Microsoft.AspNetCore.Authorization
@model FaxpiBlogSimples.App.Pages.Blog.EditarPostagemModel
@{
  ViewData["Title"] = "Editar Postagem";
}

@attribute [Authorize]

<form method="post">
  <div asp-validation-summary="All" class="text-danger"></div>
  <input type="hidden" id="postagemid" asp-for="Comando.PostagemId" />
  <div>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" asp-for="Comando.Titulo" />
  </div>
  <div>
    <label for="conteudo">Conteúdo:</label>
    <textarea id="conteudo" asp-for="Comando.Conteudo"></textarea>
  </div>
  <button type="submit">Editar Postagem</button>
</form>